<!DOCTYPE html>
<html>
    <head>
        <title>Places...</title>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
    </head>
    <body>
        <h1>Welcome to another place you've been (you can add this URL to your list...</h1>
        <a href="/places/new">Add a place you've been...</a>
        <a href="/places">See the places you've been...</a>
    </body>
</html>